<!DOCTYPE html>
<html>
  <body>
    <pre id="message">Loading...</pre>
    {% if inline %}
    <pre id="plaintext"></pre>
    {% else %}
    <a id="download"></a>
    {% endif %}
    {% if hosted %}
    <script type="text/javascript" href="{{ hosted-decrypt }}"
            integrity="{{ hosted-decrypt-integrity }}"></script>
    {% else %}
    <script type="text/javascript">{{ unhosted-decrypt }}</script>
    {% endif %}
    <script type="text/javascript">
      main({
        inline: {{ inline }},
        ciphertext: "{{ ciphertext }}",
        key: {{ key }},
        nonce: {{ nonce }},
        mimetype: "{{ mimetype }}",
        filename: "{{ filename }}"
      });
    </script>
  </body>
</html>
