<!DOCTYPE html>
<html>
  <body>
    <pre id="message">Loading...</pre>
    {% if inline %}
    <pre id="plaintext"></pre>
    {% else %}
    <a id="download"></a>
    {% endif %}
    <script type="module" src="{{ hosted_crypto }}"
            integrity="{{ hosted_crypto_integrity }}"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ hosted_main }}"
            integrity="{{ hosted_main_integrity }}"
            crossorigin="anonymous" defer="true"></script>
    <script type="text/javascript">
      P = {
        inline: {{ inline }},
        ciphertext: "{{ ciphertext }}",
        key: {{ key }},
        nonce: {{ nonce }},
        mimetype: "{{ mimetype }}",
        filename: "{{ filename }}",
        wasm: "{{ hosted_crypto_wasm }}",
        wasm_integrity: "{{ hosted_crypto_wasm_integrity }}"
      };
    </script>
  </body>
</html>
