<!DOCTYPE html>
<html>
  <body>
    <script type="module" src="{{ hosted_crypto }}"
            integrity="{{ hosted_crypto_integrity }}"
            crossorigin></script>
    <script src="{{ hosted_main }}"
            integrity="{{ hosted_main_integrity }}"
            crossorigin defer></script>
    <script>
      P = {
        i: {{ inline }},
        c: "{{ ciphertext }}",
        k: "{{ key }}",
        n: "{{ nonce }}",
        m: "{{ mimetype }}",
        f: "{{ filename }}",
        w: "{{ hosted_crypto_wasm }}",
        W: "{{ hosted_crypto_wasm_integrity }}"
      };
    </script>
  </body>
</html>
